coha-lemma_sgns/
eng-all_sgns/
eng-fiction-all_sgns/
coha-word_sgns/
fre-all_sgns/
ger-all_sgns/
chi-sim-all_sgns/

coha-lemma/
eng-all/
eng-fiction-all/
coha-word/
fre-all/
ger-all/
chi-sim-all/

2_pos_n/

1_pos_n_cs_n.txt
COHAdecadeSize.txt